@{
    ViewData["Title"] = "Formulario De Inspecao";
}

<form asp-controller="FormularioDeInspecao" asp-action="Novo" method="post">
    <button class="btn btn-info">criar novo formulario de vistoria de veiculo</button>
</form>

<h1 class="badge badge-info">formulários criados: @ViewBag.QuantidadeDeFormulariosCriados</h1>